[submodule "images/ovni"]
	path = images/ovni
	url = https://github.com/bsc-pm/ovni.git
[submodule "images/nos-v"]
	path = images/nos-v
	url = https://github.com/caius-iulius/nos-v.git
[submodule "images/nodes"]
	path = images/nodes
	url = https://github.com/bsc-pm/nodes.git