[submodule "nosvImage/nos-v"]
	path = nosvImage/nos-v
	url = https://github.com/caius-iulius/nos-v.git
[submodule "nodesImage/nodes"]
	path = nodesImage/nodes
	url = https://github.com/bsc-pm/nodes.git
[submodule "ovniImage/ovni"]
	path = ovniImage/ovni
	url = https://github.com/bsc-pm/ovni.git
